#page-title {
    text-align: center;
}

#page-form {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

#map {
    margin: 20px auto;
    height: 800px;
    max-width: 1000px;
}